# MODE ( DEBUG | PRODUCTION )
MODE="DEBUG"

# CORS ( * | URL )
CORS_ORIGIN="*"

# REVERSE-PROXY IP IDENTIFICATION ( BOOLEAN | BOOLEAN )
IS_BEHIND_PROXY="BOOLEAN"

# DATABASE CREDENTIALS
DB_HOST="HOST"
DB_NAME="NAME"
DB_USER="USER"
DB_PASS="PASS"

# COLUMN-LEVEL DATABASE ENCRYPTION ( BOOLEAN + STRING )
ENCRYPTION_ENABLED="BOOLEAN"
ENCRYPTION_KEY="KEY"

# LOGGING  ( BOOLEAN )
ENABLE_LOGS="BOOLEAN"

# ANTI REQUEST FORGING / TAMPERING ( BOOLEAN + STRING )
ENABLE_ANTI_TAMPERING="BOOLEAN"
SIGNATURE_KEY="KEY"

# PUBLIC-FACING ENDPOINTS FOR FRONT / API / ASSETS / WEBHOOKS
ROOT_FRONT="/f"
ROOT_API="/a"
ROOT_ASSETS="/m"
ROOT_WEBHOOKS="/w"

# GLOBAL ASSETS VERSION FOR CACHE RESET
ASSETS_VERSION="NUMERIC"

# INUMERICNUMERICN ( LOCALE xx_XX )
DEFAULT_LOCALE="fr_FR"

# SMTP
SMTP_USER="USER"
SMTP_PASS="PASS"
SMTP_HOST="HOST"
SMTP_PORT="PORT"
SMTP_FROM="FROM"
SMTP_NAME="NAME"
SMTP_SECURITY="SECURITY"
ENABLE_EMAILS="BOOLEAN"

# UPLOADS
UPLOADS_DIR="uploads"

# PAGINATION ( INTEGERS )
PER_PAGE_DEFAULT="NUMERIC"
PAGE_DEFAULT="NUMERIC"

# STRIPE
STRIPE_API_KEY="KEY"
STRIPE_ENV="test"
